<mat-card> </mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title
      >AG Grid com Angular - Exemplos de utilização</mat-card-title
    >
    <mat-card-subtitle
      >Dados fake das cotações da empresa Itausa (ITSA4)</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Default">
        <app-ag-grid-default></app-ag-grid-default>
      </mat-tab>
      <mat-tab label="Ordenação e Filtros">
        <app-ag-grid-sort-filter></app-ag-grid-sort-filter>
      </mat-tab>
      <mat-tab label="Botões ações">
        <app-ag-grid-action-button></app-ag-grid-action-button>
      </mat-tab>
      <mat-tab label="Máscara Moeda">
        <app-ag-grid-mascara> </app-ag-grid-mascara>
      </mat-tab>
      <mat-tab label="Paginação">
        <app-ag-grid-paginacao></app-ag-grid-paginacao>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
